

.body {
    display: flex;
    background-color: #413d3d;
    color: aliceblue;
    font-palette: ;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
 */
/* .inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

.navbar {
    background-color: #333;
    overflow: hidden;
    }