body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


footer {
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    }
  
  
    footer .copyright {
    font-size: 0.8em;
    margin-top: 1px; 
    color: #bbb;
  }

.carousel-item {
    height: auto; /* Ajusta la altura del carousel si es necesario */
    width: fit-content;
}

.carousel-item img {
    object-fit:cover; /* Asegura que la imagen cubra el área */
    object-position: center;
}

.custom-carousel {
    max-width: 40%; /* Ajusta el ancho máximo del carousel */
    margin: auto; /* Centra el carousel en la página */
}

.custom-botones {
    object-position: center;
    margin: auto; /* Centra el carousel en la página */
}

