body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    }
  
  
    footer .copyright {
    font-size: 0.8em;
    margin-top: 20px;
    color: #bbb;
  }